html {
  font-family: "Source Sans Pro", sans-serif;
}

#table {
  background: #33cccc;
  border: 1px solid #006666;
}

.cell {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #006666;
  background-color: #20b2aa;
  font-size: 2em;
}

#res {
  width: 540px;
  font-size: 5em;
  text-align: center;
  border: 1px solid black;
  color: #0e6900;
  display: none;
  background: #00a90b;
}

#but {
  display: none;
  font-size: 3em;
  width: 540px;
  text-align: center;
}

#timerContainer {
  font-weight: 300;
  width: 160px;
  margin: 20px 0px;
  min-height: 60px;
  border-top: 0px;
  display: none;
}

.timer {
  float: left;
  width: 100%;
  padding: 20px 0;
  font-size: 24px;
  text-align: center;
  color: white;
  background: #009999;
}

#introBlock {
  width: 200px;
  margin: 20px 0;
}

#introBlock p {
  margin-bottom: 0px;
  text-align: center;
}

#introButton {
  width: 100%;
}
